/* I want to add a checkbox in the navbar to enable/disable dark mode! */

.externalText {
font-family: verdana;
color: blue;
}

.externalList {
font-family: sans-serif;
color: green;
}

.verdana {
  font-family: verdana;
  color: blue;
}
.sans-serif {
  font-family: sans-serif;
  color: red;
}
.impact {
  font-family: impact;
  color: yellow;
}

.highlight:hover {
  background-color: yellow;
}

.bigLetter {
  font-size: 24px;
  font-weight: bold;
}

.main {
  margin-top: 90px;
}

#main {
  margin-top: 90px;
}

.body {
  background-color: #333333;
}

/* Navigation bar */
.topnav {
  font-family: "Arial Rounded MT Bold";
  font-size: 24px;
  background-color: #333333;
  border: 3px solid #3D75EF;
  padding: 8px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}


/* Links inside the navbar */
.topnav a {
  float: left;
  display: block;
  color: #3D75EF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; /*removes underline & other link formatting*/
}

/* Change background on mouse-over */
.topnav a:hover {
  background: #3D75EF;
  color: white;
}

/* Formatting links that have been visited */
.topnav a:visited {
  background: #3D75EF;
  color: white;
}

.menu_button {
  margin-top: 10px;
  width: 50px;
  height: 10px;
}

.card {
  /* How can I display cards side by side? */
  width: 350px;
  float: left;
  margin: 20px;
  box-shadow: 24px 9px 6px grey;
}

.card:hover {
  box-shadow: 36px 18px 6px grey;
}

.cardInner {
  border: 2px solid #333333;
  width: 350px;
  height: auto;
  background-color: #D1DFFE; /* Light-blue background */
  padding: 5px;
}

.cardInner:hover {
  background-color: #1059F8; /* Blue hover background */
  width: 355px;
  height: auto;
  color: white;
}

.cardInner:hover img {
  width: 100%;
  background-color: white;
  padding: none;
}

.cardInner:hover div {
  width: auto;
  border: none;
  background: none;
}

a.cardLink {
  text-decoration: none;
  color: black;
  display: block;
}

.cardLink:hover {
  color: white;
}

.cardImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #EFEFEF;
  width: 350px;
  border: 1px solid #333333;
  align: right;
/*  z-index: -1; << This z-index attribute is used to set the order of the
element within the page >> */
}

.cardImage img {
  width: 350px;
  align: right;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #333333; */
}

/* commenting out before deleting below code
.cardTitle {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 9px;
}
*/

#cardTitle {
  font-weight: bold;
  font-size: 24px;
  padding: 0 9px;
}

.cardText {
  padding: 0 9px;
}
